{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "ignore": [
    "node_modules",
    "logs",
    //
    ".cache",
    "_cache",
    "cache",
    //
    ".build",
    "_build",
    "build",
    //
    ".dist",
    "_dist",
    "dist",
    //
    ".deploy",
    "_deploy",
    "deploy"
  ],
  "env": {
    "production": {
      "plugins": [
        ["@emotion"],
        [
          "babel-plugin-styled-components",
          {
            "ssr": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        ["@emotion", { "sourceMap": true }],
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false
          }
        ]
      ]
    }
  }
}
