$brand-black: #2d2d2d;
$brand-white: #ffffff;
$brand-off-white: #fefefe;
// just alias the off-white
$off-white: $brand-off-white;

$teal-100: #80abba;
$teal-200: #6893a2;
$teal-300: #4d7988;
$teal-400: #355966;
$teal-500: #2b515e;
$teal-600: #1c414e;
$teal-700: #0f323e;
$teal-800: #08242d;
$teal-900: #041b23;
$blue-100: #7ea4c9;
$blue-50: lighten($blue-100, 10%);
$blue-200: #5382b1;
$blue-300: #396692;
$blue-400: #2c5b89;
$blue-500: #144d85;
$blue-600: #0c3b69;
$blue-700: #092e52;
$blue-800: #06203b;
$blue-900: #031424;

$gray-100: #c7cac7;
$gray-50: lighten($gray-100, 10%);
$gray-200: #acafac;
$gray-300: #979c97;
$gray-400: #7f877f;
$gray-500: #6f776f;
$gray-600: #555d55;
$gray-700: #444b44;
$gray-800: #353a35;
$gray-900: #1e211e;

$lime-100: #b1ffb1;
$lime-200: #a1fba1;
$lime-300: #79ce76;
$lime-400: #62ac5f;
$lime-500: #4f964c;
$lime-600: #3f7c3c;
$lime-700: #336c30;
$lime-800: #143213;
$lime-900: #0c210b;

$yellow-100: #ffea80;
$yellow-200: #ffe564;
$yellow-300: #ffe048;
$yellow-400: #ffdb34;
$yellow-500: #ffd300;
$yellow-600: #e7c626;
$yellow-700: #c2a721;
$yellow-800: #897516;
$yellow-900: #64550a;
$orange-100: #ffc37a;
$orange-200: #f5b362;
$orange-300: #f0a448;
$orange-400: #e9942c;
$orange-500: #ec880d;
$orange-600: #dc7e0b;
$orange-700: #c67008;
$orange-800: #945303;
$orange-900: #693a00;

$red-100: #dc7f85;
$red-200: #c05f66;
$red-300: #ac5158;
$red-400: #993d44;
$red-500: #8f3037;
$red-600: #6a1e24;
$red-700: #501419;
$red-800: #3b0a0e;
$red-900: #270305;

// customize with https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
$primary: $blue-200;
$secondary: $gray-600;
$success: $lime-300;
$info: $blue-400;
$warning: $orange-300;
$danger: $red-500;
$light: $gray-100;
$dark: $gray-900;

// scss-docs-start theme-colors-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark
);
